
.container__calendar{
    width: 80%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.container__stats{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 70%;
    margin-top: 3rem;
    align-items: center;
}

/* .container__stats > div > img{
    width: 50%;
} */

@media screen and (max-width : 1024px){
    .container__calendar{
        width: 80%;
        display: grid;
        margin: auto;
    }
    .container__stats{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 5%;
    }
  
  }
  
  @media screen and (max-width : 360px){
    .container__stats{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 5%;
    }
  }

